.frm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

input, button{
    margin: 10px;
    top: 200px;
}

input{
    height: 30px;
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

button{
    height: 30px;
    width: 200px;
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 8px orange;
    border-radius: 7px;
}

.reglink{
    position: absolute;
    left: 40%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 180px;
    height: 30px;
    text-align: center;
    background-color: purple;
    color: black;
    padding-top: 4px;
    border-radius: 7px;
}